<%- include('../partials/header2') %>

  <section class="container">
    <% products.forEach(function(p) { %>
      <div class="row">
        <div class="column">
        <article class="inside-card">
          <div>
            <a href="products/<%=p._id%>">
            <img src="<%= p.img %>">
          </div>
          <div>
            <%= p.productName %>
          </div>
          <div>
            <%= p.productType %>
          </div>
          </a>
          <form method="GET" action="products/<%= p._id %>">
            <button type="submit">Product Details</button>
          </form>
          <% if (user && user._id.toString() === p.user._id.toString()) { %>
          <a class="editLink" href="products/<%= p._id %>/edit">Edit</a>
          <% } %>
        </article>
        </div>
      </div>
    <% }); %>
  </section>
  

  <%- include('../partials/footer') %>