<%- include('../partials/header') %>
  <div class="container">
  <div>
    <h3>Product Name:</h3>
    <span><%= product.productName %></span>
  </div>
  <div>
    <h3>Product Category:</h3>
    <span><%= product.productType %></span>
  </div>
  <div>
    <h3>Product Category:</h3>
    <span><%= product.productType %></span>
  </div>
  <div>
    <h3>Price:</h3>
    <span><%= product.price %></span>
  </div>
  <div>
    <h3>Price:</h3>
    <span><%= product.description %></span>
  </div>
  <!--Add Reviews Below-->
  
<%- include('../partials/footer') %>